<div class="forgot-password-container">
    <h2>Przywróć zapomniane hasło</h2>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Adres Email</label>
        <input id="email" formControlName="email" type="email" placeholder="Wpisz adres email" />
        <div *ngIf="forgotPasswordForm.controls['email'].invalid && forgotPasswordForm.controls['email'].touched" class="error">
          Please enter a valid email address.
        </div>
      </div>
  
      <button type="submit" [disabled]="forgotPasswordForm.invalid">Zresetuj hasło</button>
    </form>
  
    <p *ngIf="successMessage" class="success">{{ successMessage }}</p>
    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  </div>
  